

body {
	font-family: 'Indie Flower', cursive;
}

div.container {
	width: 100%;
}

div#menu {
	margin-top: -8px;
	background-color: #DFE8EB;
	padding-top: 	15px;
	padding-bottom: 10px;
	padding-left: 	20px;
	margin-bottom: 	5px;
}

div#content  {

}

button#button_menu {
	border: none;
	background-color: rgba(0,0,0,0);
}

div#dialog_container {
	height: 500px;
	position: absolute;
	z-index: 2;
	padding-top: 179px;
}

img#dialog_box {
	width: 750px;
	height: 80px;
}

div#text_container {
	min-width: 750px;
}

div#statement {
	font-size: 20px;
}

div#editor {
	width: 		98%;
	max-width: 	98%;
	height: 	500px;
	max-height: 500px;
}


div#twunit {
	width: 100%;
	max-height: 120px;
	min-height: 120px;
	border-top: 5px solid #DFE8EB;
	overflow-y:scroll;
}

h3 {

}

div.positive_test {
	border-right: 10px solid rgb(0,200,0);
	padding: 5px;
}

span.glyphicon.glyphicon-ok-sign {
	color: rgb(0,200,0);
}

div.negative_test {
	border-right: 10px solid rgb(200,0,0);
	padding: 5px;
}

span.glyphicon.glyphicon-remove-sign {
	color: rgb(200,0,0);
}

#editor-buttons {
	margin: 0;
	margin-top: 10px;
}

#restart-button {
	width: 100%;
}

#submit-button {
	width: 100%;
}

.readonly-highlight{
	background-color: red;
	opacity: 0.2;
	position: absolute;
}

iframe#doc-container {
	display: none;
	width: 800px;
	height: 500px;
}


#button_menu_4 {
	display: none;
}