@font-face {
	font-family: "customFont";
	font-style: normal;
	font-weight: normal;
	src: url("../fonts/IndieFlower.ttf");
}						

body {
	font-family: "customFont";
	background-color: rgb(181,206,229);
}

h1 {
	font-family: "customFont";
	font-weight: bolder;
	margin-top: 8px;
	margin-bottom: 2px;
	color: rgb(100,115,127);
}

div.container {
	width: 100%;
}

div#menu {
	background-color: rgb(245,250,252);
	margin-bottom: 	5px;
}

div#buttons_menu {
	margin-top: 8px;
}

div#buttons_menu > button {	
	background-color: rgb(100,115,127);
	color: white;
}

div#buttons_menu > button:hover {
	background-color: rgb(151,172,191);	
}

button#button_menu_1, button#button_menu_2, button#button_menu_3, button#button_menu_4 {
	font-family: "customFont";
	font-weight: bolder;
}

button#button_menu_1, button#button_menu_2 {
	display: none;
}

div#dialog_container {
	height: 500px;
	position: absolute;
	z-index: 2;
	padding-top: 179px;
}

img#dialog_box {
	width: 750px;
	height: 80px;
}

div#text_container {
	min-width: 750px;
}

div#statement {
	font-size: 20px;
}

div#editor {
	width: 		98%;
	max-width: 	98%;
	height: 	560px;
	max-height: 560px;
}

div#code-editor {
	height: 675px;
}

div#code-editor, div#game-canvas, div#test-container, div#doc-container {
	background-color: rgb(100,115,127);
	border-radius: 10px;
	padding: 5px;
}

div#game-canvas, div#doc-container {
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 1px;
}


div#test-container {
	margin-right: 10px;
	margin-left: 1px;
}

div#task, div#test, div#doc {
	font-family: "customFont";
	border-top: 3px solid rgb(151,172,191);
	background-color: rgb(245,250,252);
	padding: 5px;
	margin-bottom: 0px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	width: 98%;
}

div#test {
	width: 100%;
}

div#doc {
	width: 101.5%;	
}

div#task h3, div#test h3, div#doc-container.row h3 {
	margin-top: 0px;
	margin-bottom: 0px;
	color: rgb(100,115,127);
	font-weight: bolder;
}


div#twunit {
	width: 100%;
	max-height: 100px;
	min-height: 100px;
	border-top: 5px solid #DFE8EB;
	overflow-y:scroll;
	background-color: white;
}



div.positive_test, div.negative_test {
	border-right: 10px solid rgb(0,200,0);
	padding: 5px;
	font-family: "customFont";
	font-weight: bolder;
}

span.glyphicon.glyphicon-ok-sign {
	color: rgb(0,200,0);
}

div.negative_test {
	border-right: 10px solid rgb(200,0,0);
	padding: 5px;
}

span.glyphicon.glyphicon-remove-sign {
	color: rgb(200,0,0);
}

#editor-buttons {
	margin: 0;
	margin-top: 10px;
}

#restart-button {
	width: 100%;
	font-family: "customFont";
	font-weight: bolder;
}

#submit-button {
	width: 100%;
	font-family: "customFont";
	font-weight: bolder;
}

.readonly-highlight{
	background-color: #00AAAA;
	opacity: 0.1;
	position: absolute;
}

iframe#doc-iframe {
	width: 101.5%;
	height: 500px;

}

div#doc-container {
	display: none;
	padding-left: 20px;
}

div#doc {
	margin-left: -14px;
}


#button_menu_4 {
	display: none;
}