div#dialog_container {
	max-width: 500px;
	min-height: 300px;
	border: 1px solid white;
	/* display: none; */		/* Para ocultarlo */
}

div#text_container{
	max-width: 500px;
	min-height: 80px;
	border: 2px solid rgb(128,128,128);
	background-color: rgb(230,230,230);
	border-radius: 10px;
	padding-left: 10px;
	margin-top: 220px;
}

img#left_person {
	margin-right: 0px;
}

img#left_person.gray, img#right_person.gray {
	-webkit-filter: grayscale(100%);
}

img#right_person {
	margin-left: 380px;
}


img#left_person, img#right_person {
	-webkit-transition: all 500ms;
	margin-top: 80px;
	position: absolute;
	z-index: -1;
}

.text {
	font-family: 'Indie Flower', cursive;
}

div#dialog_container > button {
	border-radius: 10px;
	background-color: rgb(240,240,240);	
	float: right;
	margin-top: -30px;
	margin-right: 10px;
}

